.fbula {
background:url(bulawappen.png) no-repeat top left;
box-sizing:content-box;
display:inline-block;
height:50px;
position:relative;
width:30px
}

.fbula-ohne {
background-position:0 0
}

.fbula-Baden-Wuerttemberg, .fbula-bw {
background-position:0 -50px
}

.fbula-Bayern, .fbula-by {
background-position:0 -100px
}

.fbula-Berlin, .fbula-be {
background-position:0 -150px
}

.fbula-Brandenburg, .fbula-bb {
background-position:0 -200px
}

.fbula-Bremen, .fbula-hb {
background-position:0 -250px
}

.fbula-Hamburg, .fbula-hh {
background-position:0 -300px
}

.fbula-Hessen, .fbula-he {
background-position:0 -350px
}

.fbula-Mecklenburg-Vorpommern, .fbula-mv {
background-position:0 -400px
}

.fbula-Niedersachsen, .fbula-ni {
background-position:0 -450px
}

.fbula-Nordrhein-Westfalen, .fbula-nw {
background-position:0 -500px
}

.fbula-Rheinland-Pfalz, .fbula-rp {
background-position:0 -550px
}

.fbula-Saarland, .fbula-sl {
background-position:0 -600px
}

.fbula-Sachsen, .fbula-sn {
background-position:0 -650px
}

.fbula-Sachsen-Anhalt, .fbula-st {
background-position:0 -700px
}

.fbula-Schleswig-Holstein, .fbula-sh {
background-position:0 -750px
}

.fbula-Thueringen, .fbula-th {
background-position:0 -750px
}

.fbula-sm {
zoom:.7
}

.fbula-xs {
zoom:.5
}

