.fcar {
background:url(car-logos.png) no-repeat top left;
box-sizing:content-box;
display:inline-block;
height:64px;
overflow:hidden;
position:relative;
vertical-align:middle;
width:64px
}

.fcar-0unknown {
background-position:0 0
}

.fcar-acura {
background-position:0 -64px
}

.fcar-alfa,.fcar-alfaromeo {
background-position:0 -128px
}

.fcar-astonmartin {
background-position:0 -192px
}

.fcar-audi {
background-position:0 -256px
}

.fcar-bentley {
background-position:0 -320px
}

.fcar-bmw-2 {
background-position:0 -384px
}

.fcar-bugatti {
background-position:0 -448px
}

.fcar-buick {
background-position:0 -512px;
background-position:0 -5645px
}

.fcar-cadillac {
background-position:0 -576px
}

.fcar-chevrolet {
background-position:0 -640px
}

.fcar-chrysler {
background-position:0 -704px
}

.fcar-citroen-2 {
background-position:0 -768px
}

.fcar-dacia-2 {
background-position:0 -832px
}

.fcar-daihatsu {
background-position:0 -896px
}

.fcar-dodge {
background-position:0 -960px
}

.fcar-ferrari {
background-position:0 -1024px
}

.fcar-ferrari-alt {
background-position:0 -1088px
}

.fcar-fiat {
background-position:0 -1152px
}

.fcar-ford {
background-position:0 -1216px
}

.fcar-ford-racing {
background-position:0 -1280px
}

.fcar-gmc {
background-position:0 -1344px
}

.fcar-honda {
background-position:0 -1408px
}

.fcar-honda-old {
background-position:0 -1472px
}

.fcar-hummer {
background-position:0 -1536px;
background-position:0 -5842px
}

.fcar-hyundai {
background-position:0 -1600px
}

.fcar-infiniti {
background-position:0 -1664px
}

.fcar-isuzu {
background-position:0 -1728px
}

.fcar-jaguar {
background-position:0 -1792px
}

.fcar-jeep {
background-position:0 -1856px
}

.fcar-kia {
background-position:0 -1920px
}

.fcar-lada {
background-position:0 -1984px
}

.fcar-lamborghini {
background-position:0 -2048px
}

.fcar-lancia {
background-position:0 -2112px
}

.fcar-landrover {
background-position:0 -2176px
}

.fcar-lexus {
background-position:0 -2240px
}

.fcar-lincoln {
background-position:0 -2304px
}

.fcar-lotus {
background-position:0 -2368px
}

.fcar-mahindra {
background-position:0 -2432px
}

.fcar-maserati {
background-position:0 -2496px
}

.fcar-maybach {
background-position:0 -2560px
}

.fcar-mazda {
background-position:0 -2624px
}

.fcar-mercedes-2 {
background-position:0 -2688px
}

.fcar-mercedes {
background-position:0 -2752px
}

.fcar-mercedesbenz {
background-position:0 -2816px
}

.fcar-mg {
background-position:0 -2880px
}

.fcar-mini {
background-position:0 -2944px
}

.fcar-mitsubishi {
background-position:0 -3008px
}

.fcar-morgan {
background-position:0 -3072px
}

.fcar-nissan {
background-position:0 -3136px
}

.fcar-opel-2 {
background-position:0 -3200px
}

.fcar-peugeot-2 {
background-position:0 -3264px
}

.fcar-polestar-2 {
background-position:0 -3328px
}

.fcar-porsche {
background-position:0 -3392px
}

.fcar-proton {
background-position:0 -3456px
}

.fcar-rangerover {
background-position:0 -3520px
}

.fcar-renault {
background-position:0 -3584px
}

.fcar-rollsroyce {
background-position:0 -3648px
}

.fcar-rover {
background-position:0 -3712px
}

.fcar-saab {
background-position:0 -3776px
}

.fcar-scania {
background-position:0 -3840px
}

.fcar-seat {
background-position:0 -3904px
}

.fcar-segway {
background-position:0 -3968px
}

.fcar-skoda {
background-position:0 -4032px
}

.fcar-smart {
background-position:0 -4096px
}

.fcar-ssangyong {
background-position:0 -4160px
}

.fcar-subaru {
background-position:0 -4224px
}

.fcar-suzuki {
background-position:0 -4288px
}

.fcar-tesla {
background-position:0 -4352px
}

.fcar-toyota {
background-position:0 -4416px
}

.fcar-triumph {
background-position:0 -4480px
}

.fcar-volkswagen {
background-position:0 -4544px
}

.fcar-volvo {
background-position:0 -4608px
}

.fcar-vw {
background-position:0 -4672px
}

.fcar-bmw {
background-position:0 -4736px
}

.fcar-opel {
background-position:0 -4801px
}

.fcar-polestar {
background-position:0 -4864px
}

.fcar-peugeot {
background-position:0 -4928px
}

.fcar-citroen {
background-position:0 -4997px
}

.fcar-mclaren {
background-position:0 -5056px
}

.fcar-cupra {
background-position:0 -5120px
}

.fcar-genesis {
background-position:0 -5184px
}

.fcar-nio {
background-position:0 -5248px
}

.fcar-dacia {
background-position:0 -5312px
}

.fcar-abarth {
background-position:0 -5376px
}

.fcar-alpina {
background-position:0 -5444px
}

.fcar-aprilia {
background-position:0 -5514px
}

.fcar-brilliance {
background-position:0 -5580px
}

.fcar-byd {
background-position:0 -5709px
}

.fcar-caterham {
background-position:0 -5773px
}

.fcar-ktm {
background-position:0 -5896px
}

.fcar-pagani {
background-position:0 -5945px
}

.fcar-spyker {
background-position:0 -5997px
}

.fcar-yugo {
background-position:0 -6061px
}

.fcar-trabant {
background-position:0 -6124px
}

.fcar-vauxhall {
background-position:0 -6188px
}

.fcar-wartburg {
background-position:0 -6254px
}

.fcar-holden {
background-position:0 -6317px
}

.fcar-rimac {
background-position:0 -6384px
}

.fcar-datsun {
background-position:0 -6449px
}

.fcar-daewoo {
background-position:0 -6510px
}

.fcar-greatwall {
background-position:0 -6573px
}

.fcar-geely {
background-position:0 -6640px
}

.fcar-chery {
background-position:0 -6704px
}

.fcar-haval {
background-position:0 -6768px
}

.fcar-alpine {
background-position:0 -6832px
}

.fcar-sm {
zoom:.7
}

.fcar-xs {
zoom:.4
}
